<br />
<div class="container">
  <div class="jumbotron">
    <div class="row card-body">
      <div class="col-md-12">
        <h1>Add a Burger</h1>
      </div>
      <div class="col-md-12" id="addBurger">
        <form id="create-form">
          <label for="name">Burger Name:</label>
          <input type="text" id="name" name="name">
          <input type="submit" value="Add Burger" class="btn btn-warning">
        </form>
      </div>
    </div>
    <br />

    <div class="row">
      
      <div class="col-md-6">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h2>Fresh Burgers</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">          
              <ul>
                {{#each burgers}}
                  {{#unless devoured}}
                    <li>
                      <button class="devour btn btn-danger" id="{{id}}">
                        DEVOUR
                      </button>
                      {{burger_name}}
                    </li>
                  {{/unless}}
                {{/each}}
              </ul>
            </div>
          </div>  
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h2>Devoured Burgers</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul>
                {{#each burgers}}
                    {{#if devoured}}
                      <li>
                        {{burger_name}}
                      </li>
                    {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

