<h1>Burgers!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{burger_name}}
      <button class="devour" id="{{id}}">
		    DEVOUR
	    </button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form">
  <label for="name">Burger Name:</label>
  <input type="text" id="name" name="name">
  <input type="submit" value="Add Burger">
</form>


